/home/jose-d-hernandez/Documents/Properties_scraper/CAMEO/NFP.csv filter=lfs diff=lfs merge=lfs -text
/home/jose-d-hernandez/Documents/Properties_scraper/OSHA/OSHA.csv filter=lfs diff=lfs merge=lfs -text
